<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%for(const team of board){%>
      <%=team.username%>      <%=team.score%><br> 
    <%}%>
  </body>
</html>
