<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Playground</title>
    <link rel="stylesheet" href="/css/stylesTW.css">
    <script src="https://use.fontawesome.com/688dfff0c7.js"></script>
    <link rel="icon" type="image/jpg" href="/assets/img/mlsc_logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet"> 
</head>

<body class="text-gray-400 text-xl " style="background-color:#202020;">


    <div class="grid grid-cols-7  items-center p-5 ">
        <div class="m-4 inline-block col-span-6 col-start-2 row-start-1  space-y-1  lg:col-span-5 lg:row-start-1 lg:col-start-2 text-3xl">
            <!-- question  -->
            <br>
            <div class="animate-pulse border border-light-blue-300 rounded-md p-4 " style="font-style: italic; font-family: 'Playfair Display', serif; font-weight: 500;">
                <%=message%>
            </div>
        </div>


    </div>
</body>

</html>