nav {
  position: absolute;
  height: 100vh;
  width: 60px;
  background-color: $dark-grey;

  .nav_logo {
    height: 10vh;
    width: 100%;
    background: #000;
    // h6 {
    //   color: white;
    // }
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav_menu a {
    margin: 2.5vh 0;
    path.menu_icon {
      opacity: 1;
    }
    path.menu_text {
      opacity: 0;
    }
  }
}
