.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.society {
  color: $light-grey;
  font-family: "Happy Monkey", cursive;
  .society_heading {
    font-size: 2rem;
    padding-bottom: 3vh;
  }
  .society_pane {
    display: flex;

    .society_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20vh 2vw;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        padding: 5vh 0;
      }

      button {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid $light-grey;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        background: transparent;
        text-decoration: none;
        font-weight: 300;
        color: $light-grey;
        text-align: center;
        transition: all 0.2s;

        &:hover {
          color: #000000;
          background-color: #ffffff;
        }
      }
    }
    .society_members {
      min-width: 40vw;
    }
  }
}
