@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

$cyan: #08fdd8;
$light-grey: #848484;
$grey: #202020;
$dark-grey: #181818;
$black: #000000;

@import "./_nav";
@import "./_preloader";
@import "./_eventFlow";
@import "./_prizes";
@import "./_rules";
@import "./_society";

* {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: $grey;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index {
  display: flex;

  .index_text {
    height: 100vh;
    width: 45vw;
    padding: 5vw;
    h2 {
      font-family: "Happy Monkey", cursive;
      font-size: 40px;
      color: #848484;
      line-height: 18px;
      letter-spacing: 0.4px;
    }
  }
  .index_rtdisc {
    height: 100vh;
    width: 45vw;
    margin: auto;
    .svg-rings {
      #ring1 {
        position: absolute;
        top: 120px;
        left: 950px;
      }
      #ring2 {
        position: absolute;
        top: 170px;
        left: 1000px;
      }
      #ring3 {
        position: absolute;
        top: 220px;
        left: 1050px;
      }
      #ring4 {
        position: absolute;
        top: 270px;
        left: 1100px;
      }
      #ring5 {
        position: absolute;
        top: 320px;
        left: 1150px;
      }
    }
  }
}

.wobble {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.wobble:hover {
  color: orange;
  /* animation: rubberBand 5s infinite; */
  animation-name: wobbleAnim;
}

@keyframes wobbleAnim {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
