@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
.skip_text {
  display: block;
  background-color: inherit;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.7vh;
  float: right;
  margin-top: 40vh;
  margin-right: 10vw;
}

.overlay_wrapper {
  overflow: hidden;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}

.overlay {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  z-index: 10;
  overflow: hidden;
  font-family: "Special Elite", cursive;
  color: white;
}

.overlay .overlay_maintext {
  padding-top: 30vh;
  padding-left: 10vw;
  font-size: 3vh;
}


.hide {
  opacity: 0;
}

